main {
    border: 2px black solid;
    border-radius: 1rem;
    width: 98%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section-projects h2 {
    text-align: center;
    font-family:monospace;
    font-size: 30px;
    text-shadow: 3px 10px 8px black;
}

.div-structure {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 10px;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 10px;
}

.div-structure article {
    border: 2px black solid;
    border-radius: 1rem;
    padding: 50px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
}

.div-structure article:hover {
    transform: scale(1.05);
    background-color: white;
}

#section-projects-table {
    display: flex;
    justify-content: center;
    margin: 40px;
    width: 98%;
}

th, td, caption {
    border: 4px solid white;
    padding: 10px;
}

caption {
    font-size: 30px;
    font-family: "Anton", sans-serif;
}

table {
    border: 4px solid white;
    text-align: center;
    padding: 5px;
}

table:hover {
    transform: scale(1.2);
}

@media (max-width: 480px) {
    .div-structure {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: auto;
    }

    table {
        transform: scale(0.8);
    }

    table:hover {
    transform: scale(0.9);
}
}