<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=DM+Serif+Display:ital@0;1&family=WDXL+Lubrifont+TC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../styles.css">
    <link rel="stylesheet" href="../styles/contact-me.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <meta name="description"
        content="Santiago Villa Panesso's personal portafolio with a lot of personal proyects and description">
    <title>Santiago Villa Panesso - personal portafolio</title>
</head>
<body>
    <main>
        <header>
            <h1>Santiago Villa Panesso - Riwi developer</h1>
            <img src="../img/portafolio.jpeg" alt="portrait photo of Santiago Villa Panesso">
            <nav role="navigation" aria-label="Main Menu">
                <ul>
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="projects.html">Projects</a></li>
                    <li><a href="#section-contact-form">Interested?</a></li>
                    <li><a href="#footer">Social media</a></li>
                </ul>
            </nav>
        </header>
        
        <section id="section-contact-form">
            <h2>Interested?</h2>
            <article>
                <h3>Fill out the form and I get in contact with you!</h3>
                <form action="#section-home" method="post">
                    <label for="form-name">Name</label>
                    <input type="text" name="name" id="form-name" required aria-required="true">
                    
                    <label for="form-email">Email</label>
                    <input type="email" name="email" id="form-email" required aria-required="true">
                    
                    <label for="form-message">Message</label>
                    <textarea name="message" id="form-message" rows="5" required aria-required="true"></textarea>
                    
                    <button type="submit">Submit</button>
                </form>
            </article>
        </section>
    </main>
        
        <footer id="footer">
            <h2>Social media</h2>
            <ul>
                <li><a href="https://via.placeholder.com/300x200" target="_blank" rel="noopener noreferrer">LikedIn</a></li>
                <li><a href="https://via.placeholder.com/300x200" target="_blank" rel="noopener noreferrer">Instagram</a></li>
                <li><a href="https://via.placeholder.com/300x200" target="_blank" rel="noopener noreferrer">Github</a></li>
            </ul>
            <p>&copy; 2025 Santiago Villa Panesso. All rights reserved.</p>
        </footer>
    </body>
    </html>