<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=DM+Serif+Display:ital@0;1&family=WDXL+Lubrifont+TC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../styles.css" />
    <link rel="stylesheet" href="../styles/projects.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" />
    <meta
      name="description"
      content="Santiago Villa Panesso's personal portafolio with a lot of personal proyects and description"
    />
    <title>Santiago Villa Panesso - personal portafolio</title>
  </head>
  <body>
    <header>
      <h1>Santiago Villa Panesso - Riwi developer</h1>
      <img src="../img/portafolio.jpeg" alt="portrait photo of Santiago Villa Panesso">
      <nav role="navigation" aria-label="Main Menu">
        <ul>
          <li><a href="../../index.html">Home</a></li>
          <li><a href="#project-1">Project 1</a></li>
          <li><a href="#project-2">Project 2</a></li>
          <li><a href="#project-3">Project 3</a></li>
          <li><a href="#section-projects-table">Table of projects</a></li>
          <li><a href="contact-me.html">Interested?</a></li>
          
        </ul>
      </nav>
    </header>

    <section id="section-projects">
      <h2>Projects</h2>
      <div class="div-structure">
          <article id="project-1" aria-label="Portafolio website description">
              <h3>Project 1: Portafolio Website</h3>
              <p>This is my first project in HTML...</p>
              <img
              src="https://via.placeholder.com/300x200"
              alt="Photo of project 1"
              />
            </article>
            
            <article id="project-2" aria-label="Products inventory description">
                <h3>Project 2: Products Inventory</h3>
                <p>
                    This is my first project in python using fundamental logic with
                    object-oriented programming (OOP)
                </p>
                <img
                src="https://via.placeholder.com/300x200"
                alt="Photo of project 2"
                />
            </article>
            
            <article id="project-3" aria-label="Library program description">
                <h3>Project 3: Library Program</h3>
                <p>
                    This is my first project in react, where I created a web-based library
                    management system and implemented a users management system using
                    firebase and JavaScript
                </p>
                <img
                src="https://via.placeholder.com/300x200"
                alt="Photo of project 3"
                />
            </article>
        </div>
    </section>

    <section id="section-projects-table">
      <table>
        <caption>
          Table of projects
        </caption>
        <thead>
          <tr>
            <th>Project name</th>
            <th>Used technologies</th>
            <th>Repository link</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Portafolio website</td>
            <td>HTML, CSS</td>
            <td>
              <a
                href="https://via.placeholder.com/300x200"
                target="_blank"
                rel="noopener noreferrer"
                >Github</a
              >
            </td>
          </tr>

          <tr>
            <td>Products Inventory</td>
            <td>Python</td>
            <td>
              <a
                href="https://via.placeholder.com/300x200"
                target="_blank"
                rel="noopener noreferrer"
                >Github</a
              >
            </td>
          </tr>

          <tr>
            <td>Library Program</td>
            <td>React</td>
            <td>
              <a
                href="https://via.placeholder.com/300x200"
                target="_blank"
                rel="noopener noreferrer"
                >Github</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <footer id="footer">
      <h2>Social media</h2>
      <ul>
        <li>
          <a
            href="https://via.placeholder.com/300x200"
            target="_blank"
            rel="noopener noreferrer"
            >LikedIn</a
          >
        </li>
        <li>
          <a
            href="https://via.placeholder.com/300x200"
            target="_blank"
            rel="noopener noreferrer"
            >Instagram</a
          >
        </li>
        <li>
          <a
            href="https://via.placeholder.com/300x200"
            target="_blank"
            rel="noopener noreferrer"
            >Github</a
          >
        </li>
      </ul>
      <p>&copy; 2025 Santiago Villa Panesso. All rights reserved.</p>
    </footer>
  </body>
</html>
